/* footer */


footer.footer {
  .top-footer {
    background: #dbdbdb;
    .footer-menu {
      padding: 20px 0;
      display: flex;
      justify-content:center;
      li {
        padding: 0 50px;
        strong {
          font-weight: 600;
        }
        a {
          font-size: 12px;
          color: #666666;
        }
      }
    }
  }
  .btop-footer {
    padding: 40px 0;
    background: #e6e6e6;
    display: flex;
    justify-content:space-between;
    align-items: center;
    .sub-menu {
      ul {
        display: flex;
        padding-left: 20px;
        li {
          padding: 0 20px;
        }
      }
    }
    p {
      padding-right: 50px;
      font-size: 10px;
      color: #333;
    }
  }
}