/* footer */


footer.footer {
  background: #252525;
  padding: 70px 0;
  @include screen-xxs {
    min-width: 340px;
  }
  .l-footer {
    width: 70%;
    display: inline-block;
    float: left;
    .logo {
      img {
        margin-left: -30px;
      }
    }
    address {
      color: #e1e1e1;
      line-height: 1.6;
      font-size: 14px;
    }
    p{
      font-size: 13px;
      margin-top: 10px;
      color: #a1a1a1;
    }
  }
  .r-footer {
    float: right;;
    i {
      margin-left: 10px;
      margin-top: 50px;
      font-size: 40px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  @include screen-xs {
    .l-footer {
      float: unset;
      width: 100%;
    }
    .r-footer {
      float: unset;
      i {
        margin-top: 20px;
        font-size: 25px;
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
}